body{
    background-color: brown;
  
}
h1{
    padding: 50px 100px;
    color: antiquewhite;
/*     
    padding-left: 90px; */
}

p{
    color: wheat;
    background-color: gray;
    font-weight: 900;
    font-size: xx-large;
}